{% extends 'base.html.twig' %}

{% block title %}404: Page introuvable !{% endblock %}
{% block description %}Page 404{% endblock %}

{% block body %}
<div class="error">
    <h1>404</h1>
    <p class="origin">Le sudoku est un jeu en forme de grille défini en 1979 par l’Américain Howard Garns, 
    mais inspiré du carré latin, ainsi que du problème des 36 officiers du mathématicien suisse Leonhard Euler.
    Le but du jeu est de remplir la grille avec une série de chiffres (ou de lettres ou de symboles) tous différents, 
    qui ne se trouvent jamais plus d’une fois sur une même ligne, dans une même colonne ou dans une même région (également appelée « bloc », « groupe », « secteur » ou « sous-grille »). 
    La plupart du temps, les symboles sont des chiffres allant de 1 à 9, les régions étant alors des carrés de 3 × 3. 
    Quelques symboles sont déjà disposés dans la grille, ce qui autorise une résolution progressive du problème complet. </p>
    <a class="back" href="/">Retour</a>
</div>
{% endblock %}